<div
    style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1%;"
    class="w-full mx-auto p-6 bg-gray-100 rounded-lg shadow-lg"
>
    <h1 class="text-4xl font-bold text-blue-600">Welcome</h1>

    <form action="/auth/logout" method="GET">
        <button
            type="submit"
            style="width: 100px; padding: 5%;"
            class="bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition duration-200"
        >
            Sign Out
        </button>
    </form>
</div>