<div
    style="width: 250px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"
    class="h-full p-8 bg-gray-800 text-black fixed top-0 left-0 shadow-lg space-y-4"
>
    <h3 style=" padding: 0.5rem;" class="text-2xl font-bold bg-blue-500 text-white mb-8">Menu</h3>
    <ul style="list-style-type: disc; padding-top: 0.5rem; padding-left: 2rem;">
        <li>
            <a href="etudiants" class="block py-2 px-4 text-lg font-semibold text-gray-700 hover:bg-gray-300 rounded">
                Students
            </a>
        </li>
        <li>
            <a href="inscriptions" class="block py-2 px-4 text-lg font-semibold text-gray-700 hover:bg-gray-300 rounded">
                Enrollments
            </a>
        </li>
    </ul>
</div>
