# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Optionally ignore package-lock.json if you want
package-lock.json

#Ignore .vscode directory
.vscode/

views/pages/signup.ejs
views/pages/dashboard.ejs